<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seoulit.erp.logi.business.dao.DeliveryResultDao">
	<select id="selectDeliveryResult"
		resultType="DeliveryResultTo">
		SELECT
			DELIVERY_NO as deliveryNo,
			ITEM_NAME as itemName , 
			UNIT_OF_DELIVERY_RESULT as unitOfDeliveryResult , 
			DELIVERY_DATE as deliveryDate , 
			DELIVERY_AMOUNT as deliveryAmount ,
			DESCRIPTION as description , 
			ITEM_CODE as itemCode ,
			CUSTOMER_CODE as customerCode ,
			RELEASE_NO as releaseNo , 
			CONTRACT_DETAIL_NO as contractDetailNo 
		FROM DELIVERY_RESULT
	</select>
	
		<insert id="insertDeliveryResult"
		parameterType="deliveryResultTo">

		INSERT INTO DELIVERY_RESULT
		VALUES(
			#{deliveryNo},
			#{itemName},
			#{unitOfDeliveryResult},
			#{deliveryDate}, 
			#{deliveryAmount},
			#{description},
			#{itemCode},   
			#{contractDetailNo}, 
			#{releaseNo},			
			#{customerCode}
		) 

	</insert>

</mapper>