<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.seoulit.erp.logi.business.dao.EstimateDetailDao">
	<select id="selectEstimateDetailList"
		resultType="EstimateDetailTo" parameterType="String">
		SELECT
			ESTIMATE_DETAIL_NO as estimateDetailNo,
			ESTIMATE_NO as estimateNo,
			ITEM_CODE as itemCode,
			ITEM_NAME as itemName,
			UNIT_OF_ESTIMATE as unitOfEstimate,
			DUE_DATE_OF_ESTIMATE as dueDateOfEstimate,
			ESTIMATE_AMOUNT as estimateAmount,
			UNIT_PRICE_OF_ESTIMATE as unitPriceOfEstimate,
			SUM_PRICE_OF_ESTIMATE as sumPriceOfEstimate,
			DESCRIPTION as description
		FROM ESTIMATE_DETAIL
		WHERE ESTIMATE_NO= #{estimateNo}
	</select>
	<insert id="insertEstimateDetail"
		parameterType="estimateDetailTo">

		INSERT INTO ESTIMATE_DETAIL
		VALUES
		(
			#{estimateDetailNo},
			#{estimateNo},
			#{itemCode},
			#{itemName},
			#{unitOfEstimate},
			#{dueDateOfEstimate},
			#{estimateAmount},
			#{unitPriceOfEstimate},
			#{sumPriceOfEstimate},
			#{description}
		)
	</insert>
	
	<update id="updateEstimateDetail"
		parameterType="estimateDetailTo">

		UPDATE ESTIMATE_DETAIL SET
			ESTIMATE_DETAIL_NO = #{estimateDetailNo},
			ESTIMATE_NO = #{estimateNo},
			ITEM_CODE =#{itemCode},
			ITEM_NAME = #{itemName},
			UNIT_OF_ESTIMATE =#{unitOfEstimate},
			DUE_DATE_OF_ESTIMATE = #{dueDateOfEstimate},
			ESTIMATE_AMOUNT = #{estimateAmount},
			UNIT_PRICE_OF_ESTIMATE =#{unitPriceOfEstimate},
			SUM_PRICE_OF_ESTIMATE = #{sumPriceOfEstimate},
			DESCRIPTION = #{description}
		WHERE ESTIMATE_DETAIL_NO =#{estimateDetailNo}

	</update>
	
	<delete id="deleteEstimateDetail"
		parameterType="estimateDetailTo">

		DELETE FROM ESTIMATE_DETAIL
			WHERE ESTIMATE_DETAIL_NO = #{estimateDetailNo}
			AND ESTIMATE_NO = #{estimateNo}

	</delete>
</mapper>